<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 配置文件上传 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="5242880" />
        <property name="maxInMemorySize" value="4096" />
        <property name="defaultEncoding"><value>UTF-8</value></property>
    </bean>


    <!-- 配置jsp视图解析器 -->
    <!-- 解析jsp视图，默认用jstl标签 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- 非注解处理器适配器 -->
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
    <!-- 多个处理器适配器可以并存 -->
    <bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter" />

    <!-- 启用注解,当使用这个配置，就不用写以上两个配置，同时也带有了其他东西，比如json解析-->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!--扫描web层的@Controller-->
    <context:component-scan base-package="com.smile.myUtil"/>




</beans>